<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Leechy</title>
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}leechy/images/lychee.png">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}leechy/css/main.css" media="screen, projection" />
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}leechy/css/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->    
</head>
<body>
    {% block before_content %}{% endblock %}
    <div class="container">
    {% block content %}{% endblock %}
    </div>
</body>
</html>
