{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Index of" %} {% for rel_link, name in split_path %}/{% if not forloop.last %}<a href="{{ rel_link }}">{{ name }}</a>{% else %}{{ name }}{% endif %}{% empty %}/{% endfor %}</h2>

<div class="browser">
    <div class="toolbar">
        <div class="button">
            <input type="checkbox" id="hide_checked" {% if settings.hide_checked %}checked{% endif %} />
            <label for="hide_checked">{% trans "Hide checked items" %}</label>
        </div>
        <div class="search_container">
            <input type="text" class="search dim" value="{% trans 'Search...' %}" />
            <div class="reset"></div>
        </div>
        <div class="tags_cloud">
            {% if tags_cloud %}
                Tags: 
                {% for tag, count in tags_cloud.items %}
                <a href="">{{ tag }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% if path %}
    <div class="directory upper_dir_link"><a href="../">{% trans "Parent directory" %}</a></div>
    {% endif %}

    <table id="browser_table">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Size" %}</th>
                <th>{% trans "Tags" %}</th>
            </tr>
        </thead>
        <tbody class="browser_content">
            {% for dir in directories %}
            <tr class="item {% if dir.metadata.checked %}checked{% endif %}" search_words="{{ dir.search_words|join:" "|escape }}" path="{{ dir.rel_path }}">
                <td class="directory">
                    <input class="entry_checkbox" type="checkbox"{% if dir.metadata.checked %} checked{% endif %} />
                    <a href="{{ dir.name }}/">{{ dir.name }}</a>
                    <a href="{{ dir.google_url }}" target="_blank" title="{% trans 'Google search' %}" class="search_icon"></a>
                </td>
                <td tablesorter="{{ dir.timestamp }}">
                    {{ dir.mtime|date:"SHORT_DATETIME_FORMAT" }}
                </td>
                <td tablesorter="{{ dir.size }}">{{ dir.size|filesizeformat }}</td>
                <td tablesorter="{{ dir.metadata.tags }}">                    
                    <div class="tags">
                        {{ dir.metadata.tags }}
                    </div>
                </td>
            </tr>
            {% endfor %}

            {% for file in files %}
            <tr class="item {% if file.metadata.checked %}checked{% endif %}" search_words="{{ file.search_words|join:" "|escape }}" path="{{ file.rel_path }}">
                <td class="file">
                    <input class="entry_checkbox" type="checkbox"{% if file.metadata.checked %} checked{% endif %} />
                    <a href="{{ file.url }}">{{ file.name }}</a>
                    <a href="{{ file.google_url }}" target="_blank" title="{% trans 'Google search' %}" class="search_icon"></a>
                </td>
                <td tablesorter="{{ file.timestamp }}">
                    {{ file.mtime|date:"SHORT_DATETIME_FORMAT" }}
                </td>
                <td tablesorter="{{ file.size }}">
                    {{ file.size|filesizeformat }}
                </td>
                <td tablesorter="{{ file.metadata.tags }}">
                    <div class="tags">
                        {{ file.metadata.tags }}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/leechy/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/leechy/js/jquery.inplace-editable.js"></script>
<script type="text/javascript">
    {% include "leechy/js/browse.js" %}
</script>
{% endblock %}
