{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h2>Index of /{{ path }}</h2>

<div class="browser">
    <ul class="directories">
        {% if path %}
        <li><a href="../">Parent directory</a></li>
        {% endif %}
        {% for dir in directories %}
        <li>
            <input type="checkbox" path="{{ dir }}"{% if dir in checked_paths %} checked{% endif %} />
            <a href="{% url leechy_browse key=key path=dir %}">{{ dir }}</a>
        </li>
        {% endfor %}
    </ul>

    <ul class="files">
        {% for furl, fpath, fname in files %}
        <li>
            <input type="checkbox" path="{{ fpath }}"{% if fpath in checked_paths %} checked{% endif %} />
            <a href="{{ furl }}">{{ fname }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript">
    $(function()
    {
        $("input[type=checkbox]").change(function()
        {
            $.get("{% url leechy_update_file_metadata key=key %}", {
                path: $(this).attr("path"), 
                attr: "checked",
                value: $(this).prop("checked")
            });
        });
    });
</script>
{% endblock %}
