{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h2>Index of /{{ path }}</h2>

<div class="browser">
    <div class="toolbar">
        <div class="button">
            <input type="checkbox" id="hide_checked" {% if settings.hide_checked %}checked{% endif %} />
            <label for="hide_checked">{% trans "Hide checked items" %}</label>
        </div>
    </div>

    <ul class="directories">
        {% if path %}
        <li><a href="../">Parent directory</a></li>
        {% endif %}
        {% for dir in directories %}
        <li{% if dir in checked_paths %} class="checked"{% endif %}>
            <input class="entry_checkbox" type="checkbox" path="{{ dir }}"{% if dir in checked_paths %} checked{% endif %} />
            <a href="./{{ dir }}/">{{ dir }}</a>
        </li>
        {% endfor %}
    </ul>

    <ul class="files">
        {% for furl, fpath, fname, fsize in files %}
        <li{% if fpath in checked_paths %} class="checked"{% endif %}>
            <input class="entry_checkbox" type="checkbox" path="{{ fpath }}"{% if fpath in checked_paths %} checked{% endif %} />
            <a href="{{ furl }}">{{ fname }}</a>
            <div class="right">{{ fsize|filesizeformat }}</div>
        </li>
        {% endfor %}
    </ul>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript">
    $(function()
    {
        // Files and directories checkboxes handler
        $(".entry_checkbox").change(function()
        {
            var $this = $(this);
            $.get("{% url leechy_update_file_metadata key=key %}", {
                path: $this.attr("path"), 
                attr: "checked",
                value: $this.prop("checked")
            });
            $this.parent().toggleClass("checked");
        });

        // Settings persistence
        $(".toolbar input[type=checkbox]").change(function()
        {
            var $this = $(this);
            $.get("{% url leechy_update_settings key=key %}", {
                attr: $this.attr("id"),
                value: $this.prop("checked")
            });
        });

        // Hide/unhide checked entries
        function hide_checked_entries()
        {
            if ($("#hide_checked").prop("checked")) {
                $(".checked").hide();
            } else {
                $(".checked").show();
            }
        }

        $("#hide_checked").change(hide_checked_entries);

        // Keep the toolbar on top
        var toolbar = $(".toolbar");
        var toolbar_initial_offset = toolbar.offset();
        var toolbar_initial_width = toolbar.width();

        function pin_toolbar()
        {
            if ($(document).scrollTop() > toolbar_initial_offset.top) {
                $(".toolbar").addClass("pinned");
                $(".toolbar").css("left", toolbar_initial_offset.left + "px");
                $(".toolbar").css("width", toolbar_initial_width + "px");
            } else {
                $(".toolbar").removeClass("pinned");
                $(".toolbar").css("left", "");
                $(".toolbar").css("width", "");
            }
        }

        $(window).scroll(pin_toolbar);
        $(window).resize(pin_toolbar);

        // Setup initial state
        hide_checked_entries();
        pin_toolbar();
    });
</script>
{% endblock %}
